<section class="container">
  <div class="card">
    <h1>Registrarse</h1>

    <form novalidate (ngSubmit)="register()">
      <div class="campo">
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="name" name="name" placeholder="Admin" />
      </div>

      <div class="campo">
        <label>Email:</label>
        <input type="email" [(ngModel)]="email" name="email" placeholder="admin@mail.com" />
      </div>

      <div class="campo">
        <label>Contraseña:</label>
        <input type="password" [(ngModel)]="password" name="password" placeholder="1234" />
      </div>

      <div class="campo">
        <label>Confirmar contraseña:</label>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" />
      </div>

      @if (error) {
        <p class="mensaje-error">{{ error }}</p>
      }

      @if (success) {
        <p class="mensaje-success">Usuario creado correctamente!</p>
      }

      <button
        [disabled]="email === '' || password === '' || confirmPassword === ''"
      >
        Registrarse
      </button>
    </form>
  </div>
</section>
